.grid-container {
    background-color: lightblue;

    display: grid;
    grid-gap: 10px;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
}

.item5 {
    background-color: white;

    /* grid-column-start: 2;
    grid-column-end:   4; */

    grid-column: 2 / -2;
    grid-row:    1 / 2;

}