.block {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: black;
    color: yellow;
    text-align: center;
    font-size: 20px;
}

/* Элемент двигается относительно своего положения.
    ('отталкивается от указанных границ') 
    
    При данном виде позиционированния место, которое занимал 
    элемент всё равно остаётся как бы занятым.*/
.pos-relative {
    position: relative;
    top: 20px;
    left: 130px;    
}

/* Элемент с абсолютным позиционированнием как бы переходит на 
    другой план. Его место заполняют другие элементы.
    
    Позицианируется относительно границ окна браузера. 
    
    Часто используется для позиционированния элемента внутри
    другого элемента.*/
.pos-absolute {
    position: absolute;
    left: 200px;
    top: 300px;
}

.absolut-container {
    width: 500px;
    height: 500px;
    padding: 50px;
    background-color: orange;
}

/* Фиксированное положение относительно окна браузера.
    Его положение уже не учитывается.
    
    Блок катается вместе с экраном при скроллинге.*/
.pos-fixed {
    position: fixed;
    right: 0;
}

/* Если несколько элемента перекрывают друг друга, то
    это можно контролировать при помощи z-index */
