.grid-container {
    background-color: lightblue;

    display: grid;
    grid-gap: 10px;

    grid-template-columns: repeat(4, 1fr);
}

.item {
    background-color: rgba(223, 141, 86, 0.897);
}

.item5 {
    background-color: white;

    /* Элемент будет занимать span <число> колонок/строк */
    grid-column: span 2;
    grid-row: span 2;
}